<body class="container">
  <h1 class="text-center">Unicommerce</h1>
  <h2 class="text-center">Cadastro de Cliente</h2>

  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input id="nome" type="text" class="form-control" required autofocus />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="cpf">CPF</label>
          <input id="cpf" type="number" class="form-control" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="telefone">Telefone</label>
          <input id="telefone" type="number" class="form-control" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="rua">Rua</label>
          <input id="rua" type="text" class="form-control" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="numero">Número</label> 
          <input id="numero" type="number" class="form-control" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="complemento">Complemento</label>
          <input id="complemento" type="text" class="form-control" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="bairro">Bairro</label>
          <input id="bairro" type="text" class="form-control" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="cidade">Cidade</label>
          <input id="cidade" type="text" class="form-control" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="estado">Estado</label>
          <input id="estado" type="text" class="form-control" required />
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Cadastrar Cliente</button>
  </form>
</body>
